<div class="template rounded">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1 class="text-center mt-5">Editar sucursal</h1>
      <hr>
      <table class="table table-light table-striped table-bordered">
            <thead>
              <tr>
                <th>Sucursal</th>
                <th>No. de Empleados</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody> 
              
              <tr>
                
              </tr>
             
            </tbody>
          </table>
    </div>
    <div class="col-md-4 mt-3">
		<%= render 'form', office: @office %>
	</div>
  </div>
</div>