<div class="welcome row justify-content-md-center">
    <div class="col-md-6">
        <div class="h-100 p-5 text-black bg-light border-4 border-primary rounded">
          <h1 class= "text-center"><i class="fab fa-bity"></i> Bitty</h1>
          <p class="text-center">Tu administrador de confianza</p>

          <div class="d-grid gap">
          	<%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-primary btn-lg" %>
      	  </div>
        </div>
    </div>
</div>