<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2><i class="fab fa-bity"></i> Bitty</h2>
          <p>Tu administrador de confianza</p>
          <%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-outline-light btn-lg" %>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
	 <div class="col-md-2">
	 	<%= link_to 'Registar sucursal', '#', class: "btn btn-primary" %>
		<%= link_to 'Registar empleado', '#', class: "btn btn-primary" %>
	 </div>
	 <div class="col-md-6">
	 	<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th>Sucursal</th>
					<th>No. de Empleados</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>	
				<tr>
					<td>Independencia</td>
					<td>12</td>
					<td><i class="far fa-edit"></i></td>
				</tr>	
			</tbody>
		</table>
	 </div>
</div>



